html, body, div, span,
h1, h2, h3, h4, h5, h6, a
 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

body {
  max-width: 600px;
  min-width: 400px;
}

.header {
  color: rgba(255, 255, 255, 0.7);
  background-color: rgb(31, 41, 46);
  text-align: center;
  padding: 0.5em;
}

#toc {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

.toc-item {
  cursor: pointer;
  font-size: 0.8em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  padding-right: 1em;
}

.toc-item:hover {
  background-color: rgba(31, 41, 46, 0.5);
  color: rgb(255, 255, 255);
}
